@{
    ViewData["Title"] = "Dziękujemy!";
}

<div class="text-center">
    <h1 class="display-4">Dziękujemy!</h1>
    <p class="display-6">Twoja odpowiedź została zapisana.</p>

    <div class="mt-4">
        <a asp-controller="Survey" asp-action="Index" class="btn btn-primary">Powrót do listy ankiet</a>
    </div>
</div>
