@{
    ViewData["Title"] = "System do ankiet i głosowań";
}

<div class="text-center">
    <h1 class="display-4">Witaj w aplikacji do tworzenia ankiet</h1>
    <h4 class="display-6">Kliknij w "Lista", aby rozpocząć</h4>
</div>
